 
 
 li{              
     padding:30px;                  
    }
ul,li:hover{
    color:white;
    }
h1{
    font-size: 100%;
    color: red;

}
nav{
    background-color: rgb(47, 122, 128);
    color: rgb(241, 243, 246);
    padding: 15px;
    
}
li:hover{
    background-color: aliceblue;
}
 li,ul{
    display: inline;
    cursor: pointer;
}
.bgimage {
height:100vh;
background: url('addvert.jpg');
background-size:cover;
position:relative;
}

.hero_title {
font-size: 4.5rem;
}
.hero_desc {
font-size: 2rem;
}
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(1, 1, 1);
}
p{
    font-style:italic;
    font-size:larger;
    text-align:center:
}
.box{
    border-color: black;
    border-width: 2px;;
    border-style: solid;
    display:inline-block;
    height: 100px;
    width:200px;